body {
    background-color: #333333;
       font-family: "Indie Flower";
   font-weight: 300;
   font-style: normal;
   font-size: 36px;
   line-height: 30px;
}

h1 {
	color: #E05151;
	text-align: center;
	margin-left: auto;
    margin-right: auto;

	
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h2 {
	color: #E05151;
	text-align: center;
	margin-left: auto;
    margin-right: auto;

	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.start{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.mov{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.resultView{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}


.resultText{
    color: #E05151;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 24em;

	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;
}

